.sidebar {
  width: 220px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 15px;
  position: fixed;
}

.sidebar a, .admin-btn {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.sidebar a:hover, .admin-btn:hover {
  background: #222;
}

.submenu {
  display: none;
  padding-left: 15px;
}

.submenu a {
  font-size: 14px;
  opacity: 0.9;
}